{% extends "base.html.twig" %}

{% block title %}

	Inscrivez-vous

{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Inscrivez-vous</h1>

		<div class="row">
			<div class="col-md-8">
				{{ form_start(formView) }}
				{{ form_widget(formView) }}
				<input type="submit" class="btn btn-primary" value="Inscription" style="display: flex; width:25%; align-items: left; justify-content: center;">

				{{ form_end(formView) }}
			</div>

		</div>
	</div>
</input>{% endblock %}
