<footer class="page-footer bg-dark" style="margin-top: 300px; sposition: absolute; bottom: 0; left: 0; right: 0">
	<div class="bg-info">
		<div class="container">
			<div class="row py-4 d-flex align-items-center">
				<div class="col-md-12 text-center">
					<a href="#">
						<i class="fab fa-facebook-f text-white mr-4"></i>
					</a>
					<a href="#">
						<i class="fab fa-twitter text-white mr-4"></i>
					</a>
					<a href="#">
						<i class="fab fa-instagram text-white mr-4"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-md-left mt-5">
		<div class="row">
			<div class="col-md-3 mx-auto mb-4">
				<h6 class="text-uppercase font-weight-bold" style="color:white;">CONTACTS</h6>
				<hr class="bg-info mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
				<p class="mt-2" style="color:white;">
					<i class="fas fa-home"></i>
					3, Avenue Louise - Bruxelles</p>
				<p class="mt-2" style="color:white;">
					<i class="fas fa-phone-alt"></i>
					Tel: 02 123 12 12</p>
				<p class="mt-2" style="color:white;">
					<i class="fas fa-fax"></i>
					Fax: 02 123 12 12</p>
				<p class="mt-2" style="color:white;">
					<i class="fas fa-at"></i>
					Mail: info@swapcar.com</p>
			</div>
			<div class="col-md-3 mx-auto mb-4">
				<h6 class="text-uppercase font-weight-bold" style="color:white;">À PROPOS</h6>
				<hr class="bg-info mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
				<ul class="list-unstyled">
					<li class="my-2">
						<a href="{{ path('mentions') }}">Mentions légales</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center py-3" style="color:white;">
		&copy; Copyright 2021 - Swapcar
	</div>
</footer>
