{% extends 'base.html.twig' %}

{% block title %}Les Annonces
{% endblock %}

{% block body %}
	<h1>Les Annonces</h1>
	<div class="row mt-5">
		<div class="col-md-4">

			<div class="card" style="border-radius: 20px;">
				<img src="https://picsum.photos/200/200" class="img-fluid" alt="Image du produit">
				<div class="card-body">
					<h4 class="card-title">Titre d'une Annonce</h4>
					<p class="lead">

						<small>Localité</small>
					</p>
					<p class="card-text">
						{% for i in 1..5 %}
							<i class="fas fa-star"></i>
						{% endfor %}
					</p>
					<p>X &euro;
					</p>
					<a href="#" class="btn btn-primary">En savoir plus !</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
